*{
    padding:            0;
    margin:             0;
    text-decoration:    none;
}

body{
    margin:             0;
    padding:            0;
    font-family:        Arial, Helvetica, sans-serif;
} 
 header{
    display:            flex;
    justify-content:    space-between;
    align-items:        center;

} 

nav{
    height:             55pt;
    width:              100%;
    background-color:         #ffb300;
}
.logo   {
    background:         transparent !important;
    width:              42pt;
    height:             40pt;
    overflow:           hidden;
    margin-top:         10pt;
    margin-left:        50pt;
    display:            inline-block;
    
}

.banner {
    height:             600px;
    overflow:           hidden;
    background-color:   green;
}

.banner img {
    max-height:         100%;
    width:              100%
}

nav ul{
    float:              right;
    margin-right:       40pt;
}
nav ul{
    padding:            0;
    margin:             0 0 0 150pt;
    list-style:         none;
}

nav li{
    float:              left;
    display:            inline-block;
    margin:             0 8pt;
    line-height:        55pt;
}
nav a{
    color:              #000000;
    background-color:   #ffe54c;
    font-size:          13pt;
    text-decoration:    none;
    padding:            7pt 5pt;
    border-radius:      4pt; 
    width:              100pt;
    font-family:        sans-serif;
    border:             1pt solid #FFB300;
}
.home a, a:hover{
    border:             1pt solid #c68400;
    transition:         .5s;
}
 
.centered{
    position:           absolute; 
    top:                50%;
    left:               38%;
    font-style:         bold;
    font-weight:        600;
    text-shadow:        2pt 2pt #242222;
    font-family:        Bradley Hand, cursive;
    font-style:         italic;
    font-size:          4em;
    color:              rgb(255, 255, 255);
    
  }

  /* What How When */
  .content {
    padding:            10vw 20vw 10vw 20vw;
  }


/* Group Contract */
.group-contract > * {
    margin-top:         20px;
    list-style-type:    circle;         
}

.group-contract li {
    margin-top:         10px;
}

.group-contract td {
    padding-top:        20px;
    padding-right:      20px;
}

.group-contract th {
    text-align:         left;
}

.members-column {
    min-width:          500px;
}
.individual-agreement {
    padding:            10px;
}