header{
    min-height:         70px;
    width:              100%;
    overflow:           hidden;
    display:            flex;
    flex-wrap:          wrap;
    justify-content:    space-around;
    align-items:        center;
    border-bottom:      1px solid #ddd;
    background-color:   #15576E;
}

header .logo{
    flex:               1;
    padding-left:       20px;
}

.nav-item a{
    text-decoration:    none;
    color:              #FFFFFF;
    font-weight:        bolder;
    font-size:          larger;
    padding:            10px;
}
.nav-item a:hover {
    color:              #858585;
    padding:            10px;
    text-decoration:    none;
}

.menu{
    display:            none;
}

.favourite-icon{
    position:           relative;
    margin-right:       20px;
}

.favourite-icon span{
    background:         crimson;
    border-radius:      20px;
    color:              white;
    position:           absolute;
    top:                -10px;
    right:              -10px;
    padding:            5px 7px;
    font-size:          10px;
}

