footer{
    min-height: 200px;
    height: 30vh;
    width: 100%;
    background-color: #f2f2f2;
    color: black;
    opacity: 0.9;
}

footer .container {
    padding: 100px 50px 0px 50px;
}
