.window{
    width: 350px;
    overflow: hidden;
    height: auto;
    padding: 15px;
    box-shadow: 0 0 15px #ddd;
    margin: 10px 0;
    position: relative;
    background-color: white;
}

.window img{
    margin: 0 35px;
    width: 80%;
    height: auto;
}

.window p{
    padding: 5px;
    font-size: medium;
    font-weight: 400;
}

.window h2{
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto;
}

.window button{
    font-weight: bold;
    color: white;
    padding: 5px;
    border: 1px solid black;
    background: #0c4356;
}

.window button {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}

.window button a {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}
